In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample_data.txt',delimiter=' ')

In [3]:
df.head()

        オーダー№     測定投入日  測定投入時間     測定完了日  測定完了時間  測定機№  Unnamed: 6
0  10FRE103S0  20200628     742  20200628    1108  LH26         NaN
1  10G1E20200  20200628      19  20200628    1834  LH25         NaN
2  10FVE20400  20200628     646  20200628    1855  LH12         NaN
3  10FSE104S0  20200628    1119  20200628    2058  LH26         NaN
4  10FFFA0300  20200628    1048  20200629     427  LH02         NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 7 columns):
オーダー№         56 non-null object
測定投入日         56 non-null int64
測定投入時間        56 non-null int64
測定完了日         56 non-null int64
測定完了時間        56 non-null int64
測定機№          56 non-null object
Unnamed: 6    0 non-null float64
dtypes: float64(1), int64(4), object(2)
memory usage: 3.1+ KB

In [5]:
def get_startdate(row):
    a = '0000' + str(row['測定投入時間'])
    mydate = row['測定投入日']
    mystr = str(mydate) + a[-4:]
    return pd.to_datetime(mystr,format='%Y%m%d%H%M')

def get_compdate(row):
    a = '0000' + str(row['測定完了時間'])
    mydate = row['測定完了日']
    mystr = str(mydate) + a[-4:]
    return pd.to_datetime(mystr,format='%Y%m%d%H%M')


df['startdate'] = df.apply(get_startdate,axis=1)
df['compdate'] = df.apply(get_compdate,axis=1)
df.head(10)

,オーダー№,測定投入日,測定投入時間,測定完了日,測定完了時間,測定機№,Unnamed: 6,startdate,compdate
0,10FRE103S0,20200628,742,20200628,1108,LH26,NaN,2020-06-28 07:42:00,2020-06-28 11:08:00
1,10G1E20200,20200628,19,20200628,1834,LH25,NaN,2020-06-28 00:19:00,2020-06-28 18:34:00
2,10FVE20400,20200628,646,20200628,1855,LH12,NaN,2020-06-28 06:46:00,2020-06-28 18:55:00
3,10FSE104S0,20200628,1119,20200628,2058,LH26,NaN,2020-06-28 11:19:00,2020-06-28 20:58:00
4,10FFFA0300,20200628,1048,20200629,427,LH02,NaN,2020-06-28 10:48:00,2020-06-29 04:27:00
5,10FVE20100,20200628,2118,20200629,1229,LH26,NaN,2020-06-28 21:18:00,2020-06-29 12:29:00
6,10FWE20200,20200628,1918,20200629,1338,LH25,NaN,2020-06-28 19:18:00,2020-06-29 13:38:00
7,10FWE20300,20200628,2009,20200629,2005,LH12,NaN,2020-06-28 20:09:00,2020-06-29 20:05:00
8,10FUE20200,20200628,135,20200629,2158,LH45,NaN,2020-06-28 01:35:00,2020-06-29 21:58:00
9,10EXEB020A,20200629,1020,20200630,230,LH62,NaN,2020-06-29 10:20:00,2020-06-30 02:30:00

In [6]:
import datetime

In [7]:
#order_no = '10FRE103S0'
#start_date = datetime.datetime(2020,6,29,10,20)
#comp_date = datetime.datetime(2020,7,2,18,30)

In [8]:
def split_datetime(order_no,start_date,comp_date):
    range_date = comp_date - start_date
    #print(range_date)
    lst = []
    for i in range(range_date.days + 2):
        from_date = start_date.replace(hour=0,minute=0) + datetime.timedelta(days=i)
        to_date = start_date.replace(hour=0,minute=0) + datetime.timedelta(days=i + 1)
        if start_date > from_date:
            from_date = start_date
        if comp_date < to_date:
            to_date = comp_date
        if from_date < to_date:
            lst.append({'オーダー№':order_no,'from_date':from_date,'to_date':to_date})
        #print(from_date,to_date,to_date-from_date)
    return lst

In [9]:
df.head()

,オーダー№,測定投入日,測定投入時間,測定完了日,測定完了時間,測定機№,Unnamed: 6,startdate,compdate
0,10FRE103S0,20200628,742,20200628,1108,LH26,NaN,2020-06-28 07:42:00,2020-06-28 11:08:00
1,10G1E20200,20200628,19,20200628,1834,LH25,NaN,2020-06-28 00:19:00,2020-06-28 18:34:00
2,10FVE20400,20200628,646,20200628,1855,LH12,NaN,2020-06-28 06:46:00,2020-06-28 18:55:00
3,10FSE104S0,20200628,1119,20200628,2058,LH26,NaN,2020-06-28 11:19:00,2020-06-28 20:58:00
4,10FFFA0300,20200628,1048,20200629,427,LH02,NaN,2020-06-28 10:48:00,2020-06-29 04:27:00

In [10]:
order_no = '10FVE20100'
start_date = datetime.datetime(2020,6,28,21,18)
comp_date = datetime.datetime(2020,6,29,12,29)
split_datetime(order_no,start_date,comp_date)

[{'オーダー№': '10FVE20100',
  'from_date': datetime.datetime(2020, 6, 28, 21, 18),
  'to_date': datetime.datetime(2020, 6, 29, 0, 0)},
 {'オーダー№': '10FVE20100',
  'from_date': datetime.datetime(2020, 6, 29, 0, 0),
  'to_date': datetime.datetime(2020, 6, 29, 12, 29)}]

In [11]:
lst =[]
for index, row in df.iterrows():
    order_no, start_date, comp_date = row['オーダー№'],row['startdate'],row['compdate']
    mydic = split_datetime(order_no,start_date,comp_date)
    #print(order_no, start_date, comp_date)
    #print(mydic)
    lst = lst + split_datetime(order_no,start_date,comp_date)
lst

[{'オーダー№': '10FRE103S0',
  'from_date': Timestamp('2020-06-28 07:42:00'),
  'to_date': Timestamp('2020-06-28 11:08:00')},
 {'オーダー№': '10G1E20200',
  'from_date': Timestamp('2020-06-28 00:19:00'),
  'to_date': Timestamp('2020-06-28 18:34:00')},
 {'オーダー№': '10FVE20400',
  'from_date': Timestamp('2020-06-28 06:46:00'),
  'to_date': Timestamp('2020-06-28 18:55:00')},
 {'オーダー№': '10FSE104S0',
  'from_date': Timestamp('2020-06-28 11:19:00'),
  'to_date': Timestamp('2020-06-28 20:58:00')},
 {'オーダー№': '10FFFA0300',
  'from_date': Timestamp('2020-06-28 10:48:00'),
  'to_date': Timestamp('2020-06-29 00:00:00')},
 {'オーダー№': '10FFFA0300',
  'from_date': Timestamp('2020-06-29 00:00:00'),
  'to_date': Timestamp('2020-06-29 04:27:00')},
 {'オーダー№': '10FVE20100',
  'from_date': Timestamp('2020-06-28 21:18:00'),
  'to_date': Timestamp('2020-06-29 00:00:00')},
 {'オーダー№': '10FVE20100',
  'from_date': Timestamp('2020-06-29 00:00:00'),
  'to_date': Timestamp('2020-06-29 12:29:00')},
 {'オーダー№': '10FWE20200',
  'from_date': Timestamp('2020-06-28 19:18:00'),
  'to_date': Timestamp('2020-06-29 00:00:00')},
 {'オーダー№': '10FWE20200',
  'from_date': Timestamp('2020-06-29 00:00:00'),
  'to_date': Timestamp('2020-06-29 13:38:00')},
 {'オーダー№': '10FWE20300',
  'from_date': Timestamp('2020-06-28 20:09:00'),
  'to_date': Timestamp('2020-06-29 00:00:00')},
 {'オーダー№': '10FWE20300',
  'from_date': Timestamp('2020-06-29 00:00:00'),
  'to_date': Timestamp('2020-06-29 20:05:00')},
 {'オーダー№': '10FUE20200',
  'from_date': Timestamp('2020-06-28 01:35:00'),
  'to_date': Timestamp('2020-06-29 00:00:00')},
 {'オーダー№': '10FUE20200',
  'from_date': Timestamp('2020-06-29 00:00:00'),
  'to_date': Timestamp('2020-06-29 21:58:00')},
 {'オーダー№': '10EXEB020A',
  'from_date': Timestamp('2020-06-29 10:20:00'),
  'to_date': Timestamp('2020-06-30 00:00:00')},
 {'オーダー№': '10EXEB020A',
  'from_date': Timestamp('2020-06-30 00:00:00'),
  'to_date': Timestamp('2020-06-30 02:30:00')},
 {'オーダー№': '10E5EA0500',
  'from_date': Timestamp('2020-06-29 10:44:00'),
  'to_date': Timestamp('2020-06-30 00:00:00')},
 {'オーダー№': '10E5EA0500',
  'from_date': Timestamp('2020-06-30 00:00:00'),
  'to_date': Timestamp('2020-06-30 05:02:00')},
 {'オーダー№': '10FFFA030A',
  'from_date': Timestamp('2020-06-29 04:51:00'),
  'to_date': Timestamp('2020-06-30 00:00:00')},
 {'オーダー№': '10FFFA030A',
  'from_date': Timestamp('2020-06-30 00:00:00'),
  'to_date': Timestamp('2020-06-30 05:24:00')},
 {'オーダー№': '10EBC30300',
  'from_date': Timestamp('2020-06-29 14:07:00'),
  'to_date': Timestamp('2020-06-30 00:00:00')},
 {'オーダー№': '10EBC30300',
  'from_date': Timestamp('2020-06-30 00:00:00'),
  'to_date': Timestamp('2020-06-30 07:43:00')},
 {'オーダー№': '10ECC30100',
  'from_date': Timestamp('2020-06-29 13:20:00'),
  'to_date': Timestamp('2020-06-30 00:00:00')},
 {'オーダー№': '10ECC30100',
  'from_date': Timestamp('2020-06-30 00:00:00'),
  'to_date': Timestamp('2020-06-30 07:00:00')},
 {'オーダー№': '10EDDA020A',
  'from_date': Timestamp('2020-06-28 22:08:00'),
  'to_date': Timestamp('2020-06-29 00:00:00')},
 {'オーダー№': '10EDDA020A',
  'from_date': Timestamp('2020-06-29 00:00:00'),
  'to_date': Timestamp('2020-06-30 00:00:00')},
 {'オーダー№': '10EDDA020A',
  'from_date': Timestamp('2020-06-30 00:00:00'),
  'to_date': Timestamp('2020-06-30 02:00:00')},
 {'オーダー№': '10FFFA030B',
  'from_date': Timestamp('2020-06-30 05:43:00'),
  'to_date': Timestamp('2020-06-30 10:55:00')},
 {'オーダー№': '10EEDA0100',
  'from_date': Timestamp('2020-06-29 12:27:00'),
  'to_date': Timestamp('2020-06-30 00:00:00')},
 {'オーダー№': '10EEDA0100',
  'from_date': Timestamp('2020-06-30 00:00:00'),
  'to_date': Timestamp('2020-06-30 11:11:00')},
 {'オーダー№': '10DGD10100',
  'from_date': Timestamp('2020-06-29 02:53:00'),
  'to_date': Timestamp('2020-06-30 00:00:00')},
 {'オーダー№': '10DGD10100',
  'from_date': Timestamp('2020-06-30 00:00:00'),
  'to_date': Timestamp('2020-06-30 14:31:00')},
 {'オーダー№': '10EBC30200',
  'from_date': Timestamp('2020-06-29 20:43:00'),
  'to_date': Timestamp('2020-06-30 00:00:00')},
 {'オーダー№': '10EBC30200',
  'from_date': Timestamp('2020-06-30 00:00:00'),
  'to_date': Timestamp('2020-06-30 16:42:00')},
 {'オーダー№': '10G3FA0100',
  'from_date': Timestamp('2020-06-28 16:00:00'),
  'to_date': Timestamp('2020-06-29 00:00:00')},
 {'オーダー№': '10G3FA0100',
  'from_date': Timestamp('2020-06-29 00:00:00'),
  'to_date': Timestamp('2020-06-30 00:00:00')},
 {'オーダー№': '10G3FA0100',
  'from_date': Timestamp('2020-06-30 00:00:00'),
  'to_date': Timestamp('2020-06-30 21:21:00')},
 {'オーダー№': '10EBC30400',
  'from_date': Timestamp('2020-06-30 07:30:00'),
  'to_date': Timestamp('2020-07-01 00:00:00')},
 {'オーダー№': '10EBC30400',
  'from_date': Timestamp('2020-07-01 00:00:00'),
  'to_date': Timestamp('2020-07-01 04:03:00')},
 {'オーダー№': '10EEDA010A',
  'from_date': Timestamp('2020-06-30 11:24:00'),
  'to_date': Timestamp('2020-07-01 00:00:00')},
 {'オーダー№': '10EEDA010A',
  'from_date': Timestamp('2020-07-01 00:00:00'),
  'to_date': Timestamp('2020-07-01 08:54:00')},
 {'オーダー№': '10EFDA0100',
  'from_date': Timestamp('2020-06-30 03:29:00'),
  'to_date': Timestamp('2020-07-01 00:00:00')},
 {'オーダー№': '10EFDA0100',
  'from_date': Timestamp('2020-07-01 00:00:00'),
  'to_date': Timestamp('2020-07-01 09:04:00')},
 {'オーダー№': '10ECC30200',
  'from_date': Timestamp('2020-07-01 00:50:00'),
  'to_date': Timestamp('2020-07-02 00:00:00')},
 {'オーダー№': '10ECC30200',
  'from_date': Timestamp('2020-07-02 00:00:00'),
  'to_date': Timestamp('2020-07-02 00:38:00')},
 {'オーダー№': '10G1E20300',
  'from_date': Timestamp('2020-07-01 02:05:00'),
  'to_date': Timestamp('2020-07-02 00:00:00')},
 {'オーダー№': '10G1E20300',
  'from_date': Timestamp('2020-07-02 00:00:00'),
  'to_date': Timestamp('2020-07-02 03:49:00')},
 {'オーダー№': '10EFDA010A',
  'from_date': Timestamp('2020-07-01 09:19:00'),
  'to_date': Timestamp('2020-07-02 00:00:00')},
 {'オーダー№': '10EFDA010A',
  'from_date': Timestamp('2020-07-02 00:00:00'),
  'to_date': Timestamp('2020-07-02 04:01:00')},
 {'オーダー№': '10FJE383N0',
  'from_date': Timestamp('2020-07-01 03:17:00'),
  'to_date': Timestamp('2020-07-02 00:00:00')},
 {'オーダー№': '10FJE383N0',
  'from_date': Timestamp('2020-07-02 00:00:00'),
  'to_date': Timestamp('2020-07-02 07:00:00')},
 {'オーダー№': '10EEDA010B',
  'from_date': Timestamp('2020-07-01 09:12:00'),
  'to_date': Timestamp('2020-07-01 22:00:00')},
 {'オーダー№': '10GDFA04N0',
  'from_date': Timestamp('2020-07-01 19:28:00'),
  'to_date': Timestamp('2020-07-02 00:00:00')},
 {'オーダー№': '10GDFA04N0',
  'from_date': Timestamp('2020-07-02 00:00:00'),
  'to_date': Timestamp('2020-07-02 12:05:00')},
 {'オーダー№': '10G1E2030A',
  'from_date': Timestamp('2020-07-02 04:15:00'),
  'to_date': Timestamp('2020-07-02 21:33:00')},
 {'オーダー№': '10G3FA0200',
  'from_date': Timestamp('2020-06-30 23:34:00'),
  'to_date': Timestamp('2020-07-01 00:00:00')},
 {'オーダー№': '10G3FA0200',
  'from_date': Timestamp('2020-07-01 00:00:00'),
  'to_date': Timestamp('2020-07-02 00:00:00')},
 {'オーダー№': '10G3FA0200',
  'from_date': Timestamp('2020-07-02 00:00:00'),
  'to_date': Timestamp('2020-07-02 21:54:00')},
 {'オーダー№': '10E6EA0100',
  'from_date': Timestamp('2020-07-01 10:29:00'),
  'to_date': Timestamp('2020-07-02 00:00:00')},
 {'オーダー№': '10E6EA0100',
  'from_date': Timestamp('2020-07-02 00:00:00'),
  'to_date': Timestamp('2020-07-03 00:00:00')},
 {'オーダー№': '10E6EA0100',
  'from_date': Timestamp('2020-07-03 00:00:00'),
  'to_date': Timestamp('2020-07-03 00:14:00')},
 {'オーダー№': '10EFDA010B',
  'from_date': Timestamp('2020-07-02 04:23:00'),
  'to_date': Timestamp('2020-07-03 00:00:00')},
 {'オーダー№': '10EFDA010B',
  'from_date': Timestamp('2020-07-03 00:00:00'),
  'to_date': Timestamp('2020-07-03 03:11:00')},
 {'オーダー№': '10G6FA0500',
  'from_date': Timestamp('2020-07-01 22:44:00'),
  'to_date': Timestamp('2020-07-02 00:00:00')},
 {'オーダー№': '10G6FA0500',
  'from_date': Timestamp('2020-07-02 00:00:00'),
  'to_date': Timestamp('2020-07-03 00:00:00')},
 {'オーダー№': '10G6FA0500',
  'from_date': Timestamp('2020-07-03 00:00:00'),
  'to_date': Timestamp('2020-07-03 03:58:00')},
 {'オーダー№': '10EFDA010C',
  'from_date': Timestamp('2020-07-03 03:33:00'),
  'to_date': Timestamp('2020-07-03 13:48:00')},
 {'オーダー№': '10GFFA0200',
  'from_date': Timestamp('2020-07-03 01:37:00'),
  'to_date': Timestamp('2020-07-03 18:40:00')},
 {'オーダー№': '10E6EA010A',
  'from_date': Timestamp('2020-07-03 00:33:00'),
  'to_date': Timestamp('2020-07-03 20:09:00')},
 {'オーダー№': '10EEC30200',
  'from_date': Timestamp('2020-07-03 02:13:00'),
  'to_date': Timestamp('2020-07-03 21:49:00')},
 {'オーダー№': '10ETE1820A',
  'from_date': Timestamp('2020-07-02 08:44:00'),
  'to_date': Timestamp('2020-07-03 00:00:00')},
 {'オーダー№': '10ETE1820A',
  'from_date': Timestamp('2020-07-03 00:00:00'),
  'to_date': Timestamp('2020-07-04 00:00:00')},
 {'オーダー№': '10ETE1820A',
  'from_date': Timestamp('2020-07-04 00:00:00'),
  'to_date': Timestamp('2020-07-04 00:08:00')},
 {'オーダー№': '10ECC30300',
  'from_date': Timestamp('2020-07-03 07:58:00'),
  'to_date': Timestamp('2020-07-04 00:00:00')},
 {'オーダー№': '10ECC30300',
  'from_date': Timestamp('2020-07-04 00:00:00'),
  'to_date': Timestamp('2020-07-04 04:29:00')},
 {'オーダー№': '10G1E20400',
  'from_date': Timestamp('2020-07-02 22:27:00'),
  'to_date': Timestamp('2020-07-03 00:00:00')},
 {'オーダー№': '10G1E20400',
  'from_date': Timestamp('2020-07-03 00:00:00'),
  'to_date': Timestamp('2020-07-04 00:00:00')},
 {'オーダー№': '10G1E20400',
  'from_date': Timestamp('2020-07-04 00:00:00'),
  'to_date': Timestamp('2020-07-04 07:45:00')},
 {'オーダー№': '10F5FA0700',
  'from_date': Timestamp('2020-06-30 16:37:00'),
  'to_date': Timestamp('2020-07-01 00:00:00')},
 {'オーダー№': '10F5FA0700',
  'from_date': Timestamp('2020-07-01 00:00:00'),
  'to_date': Timestamp('2020-07-02 00:00:00')},
 {'オーダー№': '10F5FA0700',
  'from_date': Timestamp('2020-07-02 00:00:00'),
  'to_date': Timestamp('2020-07-03 00:00:00')},
 {'オーダー№': '10F5FA0700',
  'from_date': Timestamp('2020-07-03 00:00:00'),
  'to_date': Timestamp('2020-07-04 00:00:00')},
 {'オーダー№': '10F5FA0700',
  'from_date': Timestamp('2020-07-04 00:00:00'),
  'to_date': Timestamp('2020-07-04 11:09:00')},
 {'オーダー№': '10EDC30100',
  'from_date': Timestamp('2020-07-03 22:11:00'),
  'to_date': Timestamp('2020-07-04 00:00:00')},
 {'オーダー№': '10EDC30100',
  'from_date': Timestamp('2020-07-04 00:00:00'),
  'to_date': Timestamp('2020-07-04 13:48:00')},
 {'オーダー№': '10GLFA0400',
  'from_date': Timestamp('2020-06-30 13:03:00'),
  'to_date': Timestamp('2020-07-01 00:00:00')},
 {'オーダー№': '10GLFA0400',
  'from_date': Timestamp('2020-07-01 00:00:00'),
  'to_date': Timestamp('2020-07-02 00:00:00')},
 {'オーダー№': '10GLFA0400',
  'from_date': Timestamp('2020-07-02 00:00:00'),
  'to_date': Timestamp('2020-07-03 00:00:00')},
 {'オーダー№': '10GLFA0400',
  'from_date': Timestamp('2020-07-03 00:00:00'),
  'to_date': Timestamp('2020-07-04 00:00:00')},
 {'オーダー№': '10GLFA0400',
  'from_date': Timestamp('2020-07-04 00:00:00'),
  'to_date': Timestamp('2020-07-04 15:20:00')},
 {'オーダー№': '10EEC30300',
  'from_date': Timestamp('2020-07-04 07:26:00'),
  'to_date': Timestamp('2020-07-04 18:55:00')},
 {'オーダー№': '10G2E20100',
  'from_date': Timestamp('2020-07-04 07:59:00'),
  'to_date': Timestamp('2020-07-05 00:00:00')},
 {'オーダー№': '10G2E20100',
  'from_date': Timestamp('2020-07-05 00:00:00'),
  'to_date': Timestamp('2020-07-05 07:14:00')},
 {'オーダー№': '10G4FA0100',
  'from_date': Timestamp('2020-07-02 22:25:00'),
  'to_date': Timestamp('2020-07-03 00:00:00')},
 {'オーダー№': '10G4FA0100',
  'from_date': Timestamp('2020-07-03 00:00:00'),
  'to_date': Timestamp('2020-07-04 00:00:00')},
 {'オーダー№': '10G4FA0100',
  'from_date': Timestamp('2020-07-04 00:00:00'),
  'to_date': Timestamp('2020-07-05 00:00:00')},
 {'オーダー№': '10G4FA0100',
  'from_date': Timestamp('2020-07-05 00:00:00'),
  'to_date': Timestamp('2020-07-05 07:34:00')},
 {'オーダー№': '10EGD10500',
  'from_date': Timestamp('2020-07-04 04:47:00'),
  'to_date': Timestamp('2020-07-05 00:00:00')},
 {'オーダー№': '10EGD10500',
  'from_date': Timestamp('2020-07-05 00:00:00'),
  'to_date': Timestamp('2020-07-05 07:43:00')},
 {'オーダー№': '10G6FA050A',
  'from_date': Timestamp('2020-07-03 04:14:00'),
  'to_date': Timestamp('2020-07-04 00:00:00')},
 {'オーダー№': '10G6FA050A',
  'from_date': Timestamp('2020-07-04 00:00:00'),
  'to_date': Timestamp('2020-07-04 18:20:00')},
 {'オーダー№': '10EDC30200',
  'from_date': Timestamp('2020-07-04 14:27:00'),
  'to_date': Timestamp('2020-07-05 00:00:00')},
 {'オーダー№': '10EDC30200',
  'from_date': Timestamp('2020-07-05 00:00:00'),
  'to_date': Timestamp('2020-07-05 10:08:00')},
 {'オーダー№': '10EDC30300',
  'from_date': Timestamp('2020-07-04 19:51:00'),
  'to_date': Timestamp('2020-07-05 00:00:00')},
 {'オーダー№': '10EDC30300',
  'from_date': Timestamp('2020-07-05 00:00:00'),
  'to_date': Timestamp('2020-07-05 12:26:00')},
 {'オーダー№': '10GLFA01F0',
  'from_date': Timestamp('2020-07-02 02:57:00'),
  'to_date': Timestamp('2020-07-03 00:00:00')},
 {'オーダー№': '10GLFA01F0',
  'from_date': Timestamp('2020-07-03 00:00:00'),
  'to_date': Timestamp('2020-07-04 00:00:00')},
 {'オーダー№': '10GLFA01F0',
  'from_date': Timestamp('2020-07-04 00:00:00'),
  'to_date': Timestamp('2020-07-05 00:00:00')},
 {'オーダー№': '10GLFA01F0',
  'from_date': Timestamp('2020-07-05 00:00:00'),
  'to_date': Timestamp('2020-07-05 13:42:00')},
 {'オーダー№': '10G7FA0300',
  'from_date': Timestamp('2020-07-03 14:33:00'),
  'to_date': Timestamp('2020-07-04 00:00:00')},
 {'オーダー№': '10G7FA0300',
  'from_date': Timestamp('2020-07-04 00:00:00'),
  'to_date': Timestamp('2020-07-05 00:00:00')},
 {'オーダー№': '10G7FA0300',
  'from_date': Timestamp('2020-07-05 00:00:00'),
  'to_date': Timestamp('2020-07-05 23:05:00')},
 {'オーダー№': '10G5FA0100',
  'from_date': Timestamp('2020-07-04 20:59:00'),
  'to_date': Timestamp('2020-07-05 00:00:00')},
 {'オーダー№': '10G5FA0100',
  'from_date': Timestamp('2020-07-05 00:00:00'),
  'to_date': Timestamp('2020-07-06 00:00:00')},
 {'オーダー№': '10G5FA0100',
  'from_date': Timestamp('2020-07-06 00:00:00'),
  'to_date': Timestamp('2020-07-06 15:59:00')},
 {'オーダー№': '10G9FA0300',
  'from_date': Timestamp('2020-07-04 19:24:00'),
  'to_date': Timestamp('2020-07-05 00:00:00')},
 {'オーダー№': '10G9FA0300',
  'from_date': Timestamp('2020-07-05 00:00:00'),
  'to_date': Timestamp('2020-07-06 00:00:00')},
 {'オーダー№': '10G9FA0300',
  'from_date': Timestamp('2020-07-06 00:00:00'),
  'to_date': Timestamp('2020-07-06 20:00:00')},
 {'オーダー№': '10F6FA0700',
  'from_date': Timestamp('2020-07-04 12:10:00'),
  'to_date': Timestamp('2020-07-05 00:00:00')},
 {'オーダー№': '10F6FA0700',
  'from_date': Timestamp('2020-07-05 00:00:00'),
  'to_date': Timestamp('2020-07-06 00:00:00')},
 {'オーダー№': '10F6FA0700',
  'from_date': Timestamp('2020-07-06 00:00:00'),
  'to_date': Timestamp('2020-07-06 21:15:00')}]

In [12]:
df_split = pd.DataFrame(lst)
df_split.head(10)

            from_date             to_date       オーダー№
0 2020-06-28 07:42:00 2020-06-28 11:08:00  10FRE103S0
1 2020-06-28 00:19:00 2020-06-28 18:34:00  10G1E20200
2 2020-06-28 06:46:00 2020-06-28 18:55:00  10FVE20400
3 2020-06-28 11:19:00 2020-06-28 20:58:00  10FSE104S0
4 2020-06-28 10:48:00 2020-06-29 00:00:00  10FFFA0300
5 2020-06-29 00:00:00 2020-06-29 04:27:00  10FFFA0300
6 2020-06-28 21:18:00 2020-06-29 00:00:00  10FVE20100
7 2020-06-29 00:00:00 2020-06-29 12:29:00  10FVE20100
8 2020-06-28 19:18:00 2020-06-29 00:00:00  10FWE20200
9 2020-06-29 00:00:00 2020-06-29 13:38:00  10FWE20200

In [13]:
df2 = pd.merge(df,df_split,on='オーダー№')
df2.head()

,オーダー№,測定投入日,測定投入時間,測定完了日,測定完了時間,測定機№,Unnamed: 6,startdate,compdate,from_date,to_date
0,10FRE103S0,20200628,742,20200628,1108,LH26,NaN,2020-06-28 07:42:00,2020-06-28 11:08:00,2020-06-28 07:42:00,2020-06-28 11:08:00
1,10G1E20200,20200628,19,20200628,1834,LH25,NaN,2020-06-28 00:19:00,2020-06-28 18:34:00,2020-06-28 00:19:00,2020-06-28 18:34:00
2,10FVE20400,20200628,646,20200628,1855,LH12,NaN,2020-06-28 06:46:00,2020-06-28 18:55:00,2020-06-28 06:46:00,2020-06-28 18:55:00
3,10FSE104S0,20200628,1119,20200628,2058,LH26,NaN,2020-06-28 11:19:00,2020-06-28 20:58:00,2020-06-28 11:19:00,2020-06-28 20:58:00
4,10FFFA0300,20200628,1048,20200629,427,LH02,NaN,2020-06-28 10:48:00,2020-06-29 04:27:00,2020-06-28 10:48:00,2020-06-29 00:00:00

In [14]:
df3 = df2.loc[:,['オーダー№','測定機№','startdate','compdate','from_date','to_date']]
df3.head()

,オーダー№,測定機№,startdate,compdate,from_date,to_date
0,10FRE103S0,LH26,2020-06-28 07:42:00,2020-06-28 11:08:00,2020-06-28 07:42:00,2020-06-28 11:08:00
1,10G1E20200,LH25,2020-06-28 00:19:00,2020-06-28 18:34:00,2020-06-28 00:19:00,2020-06-28 18:34:00
2,10FVE20400,LH12,2020-06-28 06:46:00,2020-06-28 18:55:00,2020-06-28 06:46:00,2020-06-28 18:55:00
3,10FSE104S0,LH26,2020-06-28 11:19:00,2020-06-28 20:58:00,2020-06-28 11:19:00,2020-06-28 20:58:00
4,10FFFA0300,LH02,2020-06-28 10:48:00,2020-06-29 04:27:00,2020-06-28 10:48:00,2020-06-29 00:00:00

In [15]:
df3['use_time'] = df3['to_date']-df3['from_date']
df3.head()

,オーダー№,測定機№,startdate,compdate,from_date,to_date,use_time
0,10FRE103S0,LH26,2020-06-28 07:42:00,2020-06-28 11:08:00,2020-06-28 07:42:00,2020-06-28 11:08:00,03:26:00
1,10G1E20200,LH25,2020-06-28 00:19:00,2020-06-28 18:34:00,2020-06-28 00:19:00,2020-06-28 18:34:00,18:15:00
2,10FVE20400,LH12,2020-06-28 06:46:00,2020-06-28 18:55:00,2020-06-28 06:46:00,2020-06-28 18:55:00,12:09:00
3,10FSE104S0,LH26,2020-06-28 11:19:00,2020-06-28 20:58:00,2020-06-28 11:19:00,2020-06-28 20:58:00,09:39:00
4,10FFFA0300,LH02,2020-06-28 10:48:00,2020-06-29 04:27:00,2020-06-28 10:48:00,2020-06-29 00:00:00,13:12:00

In [36]:
cond = (df3['測定機№']=='LH26') & (datetime.datetime(2020,6,29,0,0) < df3['startdate']) & (df3['startdate']< datetime.datetime(2020,7,7,0,0))

In [37]:
df3[cond]

,オーダー№,測定機№,startdate,compdate,from_date,to_date,use_time
22,10ECC30100,LH26,2020-06-29 13:20:00,2020-06-30 07:00:00,2020-06-29 13:20:00,2020-06-30 00:00:00,10:40:00
23,10ECC30100,LH26,2020-06-29 13:20:00,2020-06-30 07:00:00,2020-06-30 00:00:00,2020-06-30 07:00:00,07:00:00
37,10EBC30400,LH26,2020-06-30 07:30:00,2020-07-01 04:03:00,2020-06-30 07:30:00,2020-07-01 00:00:00,16:30:00
38,10EBC30400,LH26,2020-06-30 07:30:00,2020-07-01 04:03:00,2020-07-01 00:00:00,2020-07-01 04:03:00,04:03:00
69,10EEC30200,LH26,2020-07-03 02:13:00,2020-07-03 21:49:00,2020-07-03 02:13:00,2020-07-03 21:49:00,19:36:00
83,10EDC30100,LH26,2020-07-03 22:11:00,2020-07-04 13:48:00,2020-07-03 22:11:00,2020-07-04 00:00:00,01:49:00
84,10EDC30100,LH26,2020-07-03 22:11:00,2020-07-04 13:48:00,2020-07-04 00:00:00,2020-07-04 13:48:00,13:48:00
101,10EDC30200,LH26,2020-07-04 14:27:00,2020-07-05 10:08:00,2020-07-04 14:27:00,2020-07-05 00:00:00,09:33:00
102,10EDC30200,LH26,2020-07-04 14:27:00,2020-07-05 10:08:00,2020-07-05 00:00:00,2020-07-05 10:08:00,10:08:00

In [39]:
df3.query('startdate < datetime.datetime(2020,6,29,0,0)')

,オーダー№,測定機№,startdate,compdate,from_date,to_date,use_time
0,10FRE103S0,LH26,2020-06-28 07:42:00,2020-06-28 11:08:00,2020-06-28 07:42:00,2020-06-28 11:08:00,0 days 03:26:00
1,10G1E20200,LH25,2020-06-28 00:19:00,2020-06-28 18:34:00,2020-06-28 00:19:00,2020-06-28 18:34:00,0 days 18:15:00
2,10FVE20400,LH12,2020-06-28 06:46:00,2020-06-28 18:55:00,2020-06-28 06:46:00,2020-06-28 18:55:00,0 days 12:09:00
3,10FSE104S0,LH26,2020-06-28 11:19:00,2020-06-28 20:58:00,2020-06-28 11:19:00,2020-06-28 20:58:00,0 days 09:39:00
4,10FFFA0300,LH02,2020-06-28 10:48:00,2020-06-29 04:27:00,2020-06-28 10:48:00,2020-06-29 00:00:00,0 days 13:12:00
5,10FFFA0300,LH02,2020-06-28 10:48:00,2020-06-29 04:27:00,2020-06-29 00:00:00,2020-06-29 04:27:00,0 days 04:27:00
6,10FVE20100,LH26,2020-06-28 21:18:00,2020-06-29 12:29:00,2020-06-28 21:18:00,2020-06-29 00:00:00,0 days 02:42:00
7,10FVE20100,LH26,2020-06-28 21:18:00,2020-06-29 12:29:00,2020-06-29 00:00:00,2020-06-29 12:29:00,0 days 12:29:00
8,10FWE20200,LH25,2020-06-28 19:18:00,2020-06-29 13:38:00,2020-06-28 19:18:00,2020-06-29 00:00:00,0 days 04:42:00
9,10FWE20200,LH25,2020-06-28 19:18:00,2020-06-29 13:38:00,2020-06-29 00:00:00,2020-06-29 13:38:00,0 days 13:38:00
10,10FWE20300,LH12,2020-06-28 20:09:00,2020-06-29 20:05:00,2020-06-28 20:09:00,2020-06-29 00:00:00,0 days 03:51:00
11,10FWE20300,LH12,2020-06-28 20:09:00,2020-06-29 20:05:00,2020-06-29 00:00:00,2020-06-29 20:05:00,0 days 20:05:00
12,10FUE20200,LH45,2020-06-28 01:35:00,2020-06-29 21:58:00,2020-06-28 01:35:00,2020-06-29 00:00:00,0 days 22:25:00
13,10FUE20200,LH45,2020-06-28 01:35:00,2020-06-29 21:58:00,2020-06-29 00:00:00,2020-06-29 21:58:00,0 days 21:58:00
24,10EDDA020A,LT82,2020-06-28 22:08:00,2020-06-30 02:00:00,2020-06-28 22:08:00,2020-06-29 00:00:00,0 days 01:52:00
25,10EDDA020A,LT82,2020-06-28 22:08:00,2020-06-30 02:00:00,2020-06-29 00:00:00,2020-06-30 00:00:00,1 days 00:00:00
26,10EDDA020A,LT82,2020-06-28 22:08:00,2020-06-30 02:00:00,2020-06-30 00:00:00,2020-06-30 02:00:00,0 days 02:00:00
34,10G3FA0100,LH04,2020-06-28 16:00:00,2020-06-30 21:21:00,2020-06-28 16:00:00,2020-06-29 00:00:00,0 days 08:00:00
35,10G3FA0100,LH04,2020-06-28 16:00:00,2020-06-30 21:21:00,2020-06-29 00:00:00,2020-06-30 00:00:00,1 days 00:00:00
36,10G3FA0100,LH04,2020-06-28 16:00:00,2020-06-30 21:21:00,2020-06-30 00:00:00,2020-06-30 21:21:00,0 days 21:21:00

In [43]:
df3.query('測定機№ == "LH26"')

SyntaxError: invalid character in identifier (<unknown>, line 1)

In [51]:
df4 = df3.rename(columns={'測定機№':'MachineNo','オーダー№':'OrderNo'})

In [52]:
df4.head()

,OrderNo,MachineNo,startdate,compdate,from_date,to_date,use_time
0,10FRE103S0,LH26,2020-06-28 07:42:00,2020-06-28 11:08:00,2020-06-28 07:42:00,2020-06-28 11:08:00,03:26:00
1,10G1E20200,LH25,2020-06-28 00:19:00,2020-06-28 18:34:00,2020-06-28 00:19:00,2020-06-28 18:34:00,18:15:00
2,10FVE20400,LH12,2020-06-28 06:46:00,2020-06-28 18:55:00,2020-06-28 06:46:00,2020-06-28 18:55:00,12:09:00
3,10FSE104S0,LH26,2020-06-28 11:19:00,2020-06-28 20:58:00,2020-06-28 11:19:00,2020-06-28 20:58:00,09:39:00
4,10FFFA0300,LH02,2020-06-28 10:48:00,2020-06-29 04:27:00,2020-06-28 10:48:00,2020-06-29 00:00:00,13:12:00

In [53]:
df4.query('MachineNo == "LH26"')

,OrderNo,MachineNo,startdate,compdate,from_date,to_date,use_time
0,10FRE103S0,LH26,2020-06-28 07:42:00,2020-06-28 11:08:00,2020-06-28 07:42:00,2020-06-28 11:08:00,03:26:00
3,10FSE104S0,LH26,2020-06-28 11:19:00,2020-06-28 20:58:00,2020-06-28 11:19:00,2020-06-28 20:58:00,09:39:00
6,10FVE20100,LH26,2020-06-28 21:18:00,2020-06-29 12:29:00,2020-06-28 21:18:00,2020-06-29 00:00:00,02:42:00
7,10FVE20100,LH26,2020-06-28 21:18:00,2020-06-29 12:29:00,2020-06-29 00:00:00,2020-06-29 12:29:00,12:29:00
22,10ECC30100,LH26,2020-06-29 13:20:00,2020-06-30 07:00:00,2020-06-29 13:20:00,2020-06-30 00:00:00,10:40:00
23,10ECC30100,LH26,2020-06-29 13:20:00,2020-06-30 07:00:00,2020-06-30 00:00:00,2020-06-30 07:00:00,07:00:00
37,10EBC30400,LH26,2020-06-30 07:30:00,2020-07-01 04:03:00,2020-06-30 07:30:00,2020-07-01 00:00:00,16:30:00
38,10EBC30400,LH26,2020-06-30 07:30:00,2020-07-01 04:03:00,2020-07-01 00:00:00,2020-07-01 04:03:00,04:03:00
69,10EEC30200,LH26,2020-07-03 02:13:00,2020-07-03 21:49:00,2020-07-03 02:13:00,2020-07-03 21:49:00,19:36:00
83,10EDC30100,LH26,2020-07-03 22:11:00,2020-07-04 13:48:00,2020-07-03 22:11:00,2020-07-04 00:00:00,01:49:00
84,10EDC30100,LH26,2020-07-03 22:11:00,2020-07-04 13:48:00,2020-07-04 00:00:00,2020-07-04 13:48:00,13:48:00
101,10EDC30200,LH26,2020-07-04 14:27:00,2020-07-05 10:08:00,2020-07-04 14:27:00,2020-07-05 00:00:00,09:33:00
102,10EDC30200,LH26,2020-07-04 14:27:00,2020-07-05 10:08:00,2020-07-05 00:00:00,2020-07-05 10:08:00,10:08:00

In [60]:
df4.query('(MachineNo == "LH26") & (datetime.datetime(2020,6,29,0,0) < startdate < datetime.datetime(2020,7,7,0,0) )')

,OrderNo,MachineNo,startdate,compdate,from_date,to_date,use_time
22,10ECC30100,LH26,2020-06-29 13:20:00,2020-06-30 07:00:00,2020-06-29 13:20:00,2020-06-30 00:00:00,10:40:00
23,10ECC30100,LH26,2020-06-29 13:20:00,2020-06-30 07:00:00,2020-06-30 00:00:00,2020-06-30 07:00:00,07:00:00
37,10EBC30400,LH26,2020-06-30 07:30:00,2020-07-01 04:03:00,2020-06-30 07:30:00,2020-07-01 00:00:00,16:30:00
38,10EBC30400,LH26,2020-06-30 07:30:00,2020-07-01 04:03:00,2020-07-01 00:00:00,2020-07-01 04:03:00,04:03:00
69,10EEC30200,LH26,2020-07-03 02:13:00,2020-07-03 21:49:00,2020-07-03 02:13:00,2020-07-03 21:49:00,19:36:00
83,10EDC30100,LH26,2020-07-03 22:11:00,2020-07-04 13:48:00,2020-07-03 22:11:00,2020-07-04 00:00:00,01:49:00
84,10EDC30100,LH26,2020-07-03 22:11:00,2020-07-04 13:48:00,2020-07-04 00:00:00,2020-07-04 13:48:00,13:48:00
101,10EDC30200,LH26,2020-07-04 14:27:00,2020-07-05 10:08:00,2020-07-04 14:27:00,2020-07-05 00:00:00,09:33:00
102,10EDC30200,LH26,2020-07-04 14:27:00,2020-07-05 10:08:00,2020-07-05 00:00:00,2020-07-05 10:08:00,10:08:00

In [61]:
df4.query('(MachineNo == "LH26") & (datetime.datetime(2020,6,29,0,0) < startdate < datetime.datetime(2020,7,7,0,0) )').sum()

OrderNo      10ECC3010010ECC3010010EBC3040010EBC3040010EEC3...
MachineNo                 LH26LH26LH26LH26LH26LH26LH26LH26LH26
use_time                                       3 days 21:07:00
dtype: object

In [63]:
dict(df4.query('(MachineNo == "LH26") & (datetime.datetime(2020,6,29,0,0) < startdate < datetime.datetime(2020,7,7,0,0) )').sum())

{'OrderNo': '10ECC3010010ECC3010010EBC3040010EBC3040010EEC3020010EDC3010010EDC3010010EDC3020010EDC30200',
 'MachineNo': 'LH26LH26LH26LH26LH26LH26LH26LH26LH26',
 'use_time': Timedelta('3 days 21:07:00')}